{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "warn",
    "consistent-return": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": ["error", {
      "allowTernary": true
    }]
  }
}
